// Here you can add other styles
.c-sidebar-nav-dropdown .c-sidebar-nav-item {
    padding-left: 30px;
}

.btn {
    margin-right: 5px;
}

div:focus {
    outline: 0px solid transparent;
}

.custom-checkbox {
    margin: 0;
}

.card-header {
    font-size: 18px !important;
}

.card-body h2 {
    font-size: 18px !important;
    line-height: 32px;
}
